@charset "utf-8";

*{
	margin: 0;
	padding: 0;
	outline:none;
}

html {
	height:100%;
}

body{
	width:100%;
	height:100%;
	background-color:#fff;
	color:#333333;
	font-family:"Segoe UI", Arial, sans-serif;
	font-size:1em;
	line-height:135%;
	float:left;
}

a {
	color:#D38484;
	text-decoration:none;
	
}

a:hover {
	color:#EFDEA0;
}

a, a:hover {
	-webkit-transition:all.6s ease;
	-moz-transition:all.6s ease;
	-o-transition:all.6s ease;
	-ms-transition:all.6s ease;
	transition:all.6s ease;
}

.clear {
	clear:both;
}

/*Стили для шапки*/

header {
	width:98%;
	float:left;
	padding:1%;
	background-color:#fafafa;
	border-bottom: 2px solid silver
}

header #logo {
	width:30%;
	float:left;
}
header #logo a {
	color:#939393;
	font-size:2em;
	font-family:Times New Roman, sans-serif;
}
header #logo span {
	color:#E36565;
}

header #menuHead {
	width: 34%;
	float:left;
}

header #menuHead div {
	float:left;
	padding:5px;
	background-color:#c8c8c8;
	border-radius:5px;
	color:#FFFFFF;
}

header #menuHead div:hover {
	background-color:#e7e7e7;
}

header #regAuth {
	width: 30%;
	float:left;
	text-align:right;
	font-size:1.2em;
}